<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Layer
        </mat-panel-title>
        <mat-panel-description>
          {{options.layer.top / 1000 + 'mm'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <p-inputSwitch (onChange)="onLayerVisibilityChange($event)" [(ngModel)]="options.layer.visible"></p-inputSwitch>
        <h4>Layer: {{options.layer.top / 1000}}</h4>
        <p-slider (onChange)="onLayerChange($event)" [(ngModel)]="options.layer.top" [min]="0" [max]="10000" [step]="1" [style]="{'width':'14em'}"
          [animate]="true"></p-slider>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Camera
        </mat-panel-title>
        <mat-panel-description>
          {{format()}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <h4>x: {{options.camera.position.x}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.x" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>
      <div class="max-width">
        <h4>y: {{options.camera.position.y}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.y" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>
      <div class="max-width">
        <h4>z: {{options.camera.position.z}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.z" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Toolpath
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <h4>zoom: {{options.toolpath.zoom.value}}</h4>
        <p-slider (onChange)="onToolChange($event)" [(ngModel)]="options.toolpath.zoom.value" [min]="1" [max]="30" [step]="1"
          [animate]="true"></p-slider>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Debug
        </mat-panel-title>
        <mat-panel-description>
          debug options
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'axisHelper')" [(ngModel)]="options.axesHelper"></p-inputSwitch>Axis helper
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'wireframe')" [(ngModel)]="options.wireframe"></p-inputSwitch>Wireframe
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'normals')" [(ngModel)]="options.normals"></p-inputSwitch>Normals
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'ground')" [(ngModel)]="options.ground">xxx</p-inputSwitch>Ground
      </div>

    </mat-expansion-panel>
  </mat-drawer>

  <mat-tab-group (selectedIndexChange)="onSelectedChange($event)">
    <mat-tab label="Scene">

      <div #renderView (dblclick)="drawer.toggle()" (window:keydown)="onKeydown($event)">
        <app-renderer [options]="options" [cameraPosition]="[80, 80, 80]" [lightPosition]="[0, 0, 80]"></app-renderer>
      </div>

    </mat-tab>

    <mat-tab label="Path">

      <div #pathView (dblclick)="drawer.toggle()">
        <app-toolpath-view [options]="options"></app-toolpath-view>
      </div>

    </mat-tab>

  </mat-tab-group>

</mat-drawer-container>