<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Layer
        </mat-panel-title>
        <mat-panel-description>
          {{options.layer.top / 1000 + 'mm'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <p-inputSwitch (onChange)="onLayerVisibilityChange($event)" [(ngModel)]="options.layer.visible"></p-inputSwitch>
        <h4>Layer: {{options.layer.top / 1000}}</h4>
        <p-slider (onChange)="onLayerChange($event)" [(ngModel)]="options.layer.top" [min]="0" [max]="10000" [step]="1" [style]="{'width':'14em'}"
          [animate]="true"></p-slider>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Camera
        </mat-panel-title>
        <mat-panel-description>
          {{format()}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <h4>x: {{options.camera.position.x}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.x" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>
      <div class="max-width">
        <h4>y: {{options.camera.position.y}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.y" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>
      <div class="max-width">
        <h4>z: {{options.camera.position.z}}</h4>
        <p-slider (onChange)="onCameraChange($event)" [(ngModel)]="options.camera.position.z" [min]="-400" [max]="400" [step]="1"
          [animate]="true"></p-slider>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Debug
        </mat-panel-title>
        <mat-panel-description>
          debug options
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'axisHelper')" [(ngModel)]="options.axesHelper"></p-inputSwitch>Axis helper
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'wireframe')" [(ngModel)]="options.wireframe"></p-inputSwitch>Wireframe
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'normals')" [(ngModel)]="options.normals"></p-inputSwitch>Normals
      </div>
      <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'ground')" [(ngModel)]="options.ground">xxx</p-inputSwitch>Ground
      </div>

    </mat-expansion-panel>
  </mat-drawer>

  <mat-tab-group (selectedIndexChange)="onSelectedChange($event)">
    <mat-tab label="Scene">

      <div #renderView class="max-width" (dblclick)="drawer.toggle()" (window:keydown)="onKeydown($event)">

        <three-renderer [options]="options" [height]="height" [width]="width">
          <three-orbit-controls [enabled]="true">
          </three-orbit-controls>
          <three-scene>
            <three-perspective-camera [height]="height" [width]="width" [positions]="[80, 80, 80]">
            </three-perspective-camera>
            <three-point-light [position]="[0, 0, 80]"></three-point-light>
          </three-scene>
        </three-renderer>

      </div>

    </mat-tab>

    <mat-tab label="Path">
      <app-toolpath-view></app-toolpath-view>
    </mat-tab>

  </mat-tab-group>

</mat-drawer-container>