<div class="editor-3d-container">
    <div class="hud">
        <div #paperCube (wheel)="onWheel($event)">
            <svg class="view-cube">
                <rect x="20" y="20" width="80" height="80" style="fill:rgb(168, 168, 168);stroke-width:1;stroke:rgb(0,0,0)" />
            </svg>
        </div>
    </div>
    <canvas #paperView resize></canvas>
</div>
<div class="info">
    <p-treeTable [value]="infos">
        <ng-template pTemplate="header">
            <tr class="info-font">
                <th>Object</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr class="info-font" [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
                <td>{{rowData.type}}</td>
                <td>{{rowData.description}}</td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>