<div>
    <app-paper [infos]="infos" (zoomin)="zoomin($event)" (zoomout)="zoomout($event)" (click)="selectBrim()"></app-paper>
</div>

<p-sidebar #side [(visible)]="display">
    <br> Brim mode = {{brimMode}}
    <br>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="cross" label="cross" [(ngModel)]="brimMode">
        </p-radioButton>
    </div>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="inline" label="inline" [(ngModel)]="brimMode">
        </p-radioButton>
    </div>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="border" label="border" [(ngModel)]="brimMode">
        </p-radioButton>
    </div>
    <br>
    <button pButton type="button" label="Gcode" (click)="gcodeCopy()"></button>
    <br>
    <button pButton type="button" label="Save brims" (click)="saveBrims()"></button>
    <br>
    <button pButton type="button" label="Clear all brims" (click)="clearBrims()"></button>
</p-sidebar>
<p-toast position="top-right"></p-toast>