<div class="editor-3d-container" (click)="selectBrim()">
    <div class="hud">
        <div class="view-cube">
        </div>
    </div>
    <canvas #paperView resize></canvas>
</div>
<div class="info">
    <p-treeTable [value]="infos">
        <ng-template pTemplate="header">
            <tr class="info-font">
                <th>Object</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr class="info-font" [ttRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
                <td>{{rowData.type}}</td>
                <td>{{rowData.description}}</td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

<p-sidebar #side [(visible)]="display">
    <h4>zoom: {{zoom}}</h4>
    <p-slider (onChange)="onToolChange()" [(ngModel)]="zoom" [min]="1" [max]="30" [step]="1"></p-slider>
    <br> Brim mode = {{brimMode}}
    <br>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="cross" label="cross" [(ngModel)]="brimMode"></p-radioButton>
    </div>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="inline" label="inline" [(ngModel)]="brimMode"></p-radioButton>
    </div>
    <div>
        <p-radioButton (onClick)="setBrimMode()" name="groupname" value="border" label="border" [(ngModel)]="brimMode"></p-radioButton>
    </div>
    <br>
    <button pButton type="button" label="Gcode" (click)="gcodeCopy()"></button>
    <br>
    <button pButton type="button" label="Save brims" (click)="saveBrims()"></button>
    <br>
    <button pButton type="button" label="Clear all brims" (click)="clearBrims()"></button>
</p-sidebar>
<p-toast position="top-right"></p-toast>