<p-menubar [model]="items"></p-menubar>
<router-outlet></router-outlet>
<p-sidebar [(visible)]="display" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Layer
      </mat-panel-title>
      <mat-panel-description>
        {{options.layer.top / 1000 + 'mm'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="max-width">
      <p-inputSwitch (onChange)="onLayerVisibilityChange($event)" [(ngModel)]="options.layer.visible"></p-inputSwitch>
      <h4>Layer: {{options.layer.top / 1000}}</h4>
      <p-slider (onChange)="onLayerChange($event)" [(ngModel)]="options.layer.top" [min]="0" [max]="10000" [step]="1" [style]="{'width':'14em'}"
        [animate]="true"></p-slider>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Debug
      </mat-panel-title>
      <mat-panel-description>
        debug options
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'axisHelper')" [(ngModel)]="options.axesHelper"></p-inputSwitch>Axis helper
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'wireframe')" [(ngModel)]="options.wireframe"></p-inputSwitch>Wireframe
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'normals')" [(ngModel)]="options.normals"></p-inputSwitch>Normals
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'ground')" [(ngModel)]="options.ground">xxx</p-inputSwitch>Ground
    </div>

  </mat-expansion-panel>
</p-sidebar>