<p-menubar [model]="items"></p-menubar>
<input [ngStyle]="{'display': 'none'}" #fileInput type="file" id="txtfiletoread"/>
<canvas [ngStyle]="{'display': 'none'}" #gcodeView [width]="0" [height]="0"></canvas>

<router-outlet></router-outlet>
<p-sidebar [(visible)]="display" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Layer
      </mat-panel-title>
      <mat-panel-description>
        {{layer.top + 'mm'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="max-width">
      <p-inputSwitch (onChange)="onLayerVisibilityChange()" [(ngModel)]="layer.visible"></p-inputSwitch>
      <h4>Layer: {{layer.top}}</h4>
      <p-slider (onChange)="onLayerChange()" [(ngModel)]="layerIndex" [min]="layerMin" [max]="layerMax" [step]="1" [style]="{'width':'14em'}"
        [animate]="true"></p-slider>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Debug
      </mat-panel-title>
      <mat-panel-description>
        debug options
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'axisHelper')" [(ngModel)]="axesHelper"></p-inputSwitch>Axis helper
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'wireframe')" [(ngModel)]="wireframe"></p-inputSwitch>Wireframe
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'normals')" [(ngModel)]="normals"></p-inputSwitch>Normals
    </div>
    <div class="max-width">
      <p-inputSwitch (onChange)="onDebugChange($event,'ground')" [(ngModel)]="ground">xxx</p-inputSwitch>Ground
    </div>

  </mat-expansion-panel>
</p-sidebar>