<div class="editor-3d-container">
    <div class="hud">
        <div class="view-cube">
            <canvas #cubeView [width]="64" [height]="64"></canvas>
        </div>
    </div>
    <canvas class="canvas" #threeView [width]="width" [height]="height" resize></canvas>
</div>
<div class="info">
    <p *ngFor="let info of infos">
        {{info}}
    </p>
</div>
