<div class="editor-3d-container">
    <div class="hud">
        <div class="view-cube">
            <canvas #cubeView [width]="64" [height]="64"></canvas>
        </div>
    </div>
    <canvas class="canvas" #threeView [width]="width" [height]="height" resize></canvas>
</div>
<div class="info">
    <p *ngFor="let info of infos">
        {{info}}
    </p>
</div>
<p-sidebar #side [(visible)]="display">
    <div class="ui-inputgroup" pTooltip="Slice size" tooltipPosition="left">
        <span class="ui-inputgroup-addon">S</span>
        <input type="text" pInputText [(ngModel)]="slice" placeholder="Slice size">
        <span class="ui-inputgroup-addon">in mm</span>
    </div>
    <div pTooltip="Slice size" tooltipPosition="left">
        <p-slider (onChange)="onSliceChange()" [(ngModel)]="slice" [min]="0" [max]="5" [step]="0.25"></p-slider>
    </div>
    <br>
    <div class="ui-inputgroup" pTooltip="Tool size" tooltipPosition="left">
        <span class="ui-inputgroup-addon">T</span>
        <input type="text" pInputText [(ngModel)]="radius" placeholder="Tool size">
        <span class="ui-inputgroup-addon">in mm</span>
    </div>
    <div pTooltip="Radius size" tooltipPosition="left">
        <p-slider (onChange)="onRadiusChange()" [(ngModel)]="radius" [min]="0" [max]="10" [step]="0.25"></p-slider>
    </div>
    <br>
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">L</span>
        <input type="text" [(ngModel)]="layerIndex" pInputText placeholder="Layer">
        <span class="ui-inputgroup-addon">in mm</span>
    </div>
    <div pTooltip="Layer height (max: {{layerMax}})" tooltipPosition="left">
        <p-slider (onChange)="onLayerChange()" [(ngModel)]="layerIndex" [min]="layerMin" [max]="layerMax" [step]="1"></p-slider>
    </div>
    <br>

    <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'axisHelper')" [(ngModel)]="axesHelper"></p-inputSwitch>Axis helper
    </div>
    <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'wireframe')" [(ngModel)]="wireframe"></p-inputSwitch>Wireframe
    </div>
    <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'normals')" [(ngModel)]="normals"></p-inputSwitch>Normals
    </div>
    <div class="max-width">
        <p-inputSwitch (onChange)="onDebugChange($event,'ground')" [(ngModel)]="ground">xxx</p-inputSwitch>Ground
    </div>
</p-sidebar>